<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.stock.dao.PurchaseOrderDao">
    <resultMap id="BaseResultMap" type="com.drug.stock.entity.domain.PurchaseOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="user_account" property="userAccount" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="delete" jdbcType="TINYINT"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        <trim prefix="" suffix="" suffixOverrides=",">
            id,
            code,
            user_account,
            user_name,
            description,
            status,
            create_user,
            update_user,
            create_time,
            update_time,
            is_delete,
            version,
        </trim>
    </sql>
    <select id="getPurchaseOrder" resultMap="BaseResultMap" parameterType="Long">
        select
        <include refid="Base_Column_List"/>
        from purchase_order
        where is_delete = 0
        and id= #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertPurchaseOrder" parameterType="com.drug.stock.entity.domain.PurchaseOrder">
        insert
        into purchase_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            code,
            user_account,
            user_name,
            description,
            create_user,
            update_user,
            create_time,
            update_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{code,jdbcType=VARCHAR},
            #{userAccount,jdbcType=VARCHAR},
            #{userName,jdbcType=VARCHAR},
            #{description,jdbcType=VARCHAR},
            #{createUser,jdbcType=VARCHAR},
            #{updateUser,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <update id="updatePurchaseOrder" parameterType="com.drug.stock.entity.domain.PurchaseOrder">
        update purchase_order
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="code!=null and code !=''">
                    code=#{code,jdbcType=VARCHAR},
                </if>
                <if test="userAccount!=null and userAccount!=''">
                    user_account=#{userAccount,jdbcType=VARCHAR},
                </if>
                <if test="userName!=null and userName!=''">
                    user_name=#{userName,jdbcType=VARCHAR},
                </if>
                <if test="description!=null and description!=''">
                    description=#{description,jdbcType=VARCHAR},
                </if>
                <if test="status!= null">
                    status = #{status,jdbcType=TINYINT},
                </if>
                update_user=#{updateUser,jdbcType=VARCHAR},
                update_time=#{updateTime,jdbcType=TIMESTAMP},
                version=#{version,jdbcType=INTEGER}+1,
            </trim>
        </set>
        WHERE is_delete = 0
        and id = #{id,jdbcType=BIGINT};
    </update>
    <!--逻辑删除-->
    <update id="deletePurchaseOrder" parameterType="Long">
        update purchase_order
        <set>
            is_delete=1
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
        and status=0;
    </update>
    <select id="getPurchaseOrderByCode" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from purchase_order
        where is_delete = 0
        and code= #{code,jdbcType=VARCHAR}
    </select>
    <select id="listPurchaseOrder" resultMap="BaseResultMap"
            parameterType="com.drug.stock.entity.condition.PurchaseOrderCondition">
        select
        <include refid="Base_Column_List"/>
        from purchase_order
        where is_delete =0
        <if test="code!=null and code !=''">
            and code=#{code,jdbcType=VARCHAR}
        </if>
        <if test="userAccount!=null and userAccount!=''">
            and user_account=#{userAccount,jdbcType=VARCHAR}
        </if>
        <if test="userName!=null and userName!=''">
            and user_name=#{userName,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="countPurchaseOrderByCode" parameterType="String" resultType="Long">
        select
        count(code)
        from purchase_order
        where is_delete =0
        and code=#{code,jdbcType=VARCHAR}
    </select>
</mapper>